root = true

[*.cs]
indent_size = 4
charset = utf-8
csharp_style_prefer_primary_constructors = false
dotnet_diagnostic.IDE0305.severity = none

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
