root = true

[*.cs]
indent_size = 4
charset = utf-8

csharp_style_prefer_primary_constructors = false

dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# IDE0005: Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = warning

# IDE0036: Enforce a modifier sort order
dotnet_diagnostic.IDE0036.severity = warning

# IDE0305: Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = none

# RCS1160: Abstract type should not have public constructors
dotnet_diagnostic.RCS1160.severity = warning

[Source/**.cs]
# Note: had to replace semicolon with a comma.
# https://github.com/dotnet/roslyn/issues/44596
file_header_template = Copyright (c) Stephen Kraus\nSPDX-License-Identifier: AGPL-3.0-or-later\n\nThis file, {fileName}, is part of Jitendex.\n\nJitendex is free software: you can redistribute it and/or modify it under the terms of\nthe GNU Affero General Public License as published by the Free Software Foundation,\neither version 3 of the License or (at your option) any later version.\n\nJitendex is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY,\nwithout even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.\nSee the GNU Affero General Public License for more details.\n\nYou should have received a copy of the GNU Affero General Public License along with Jitendex.\nIf not, see <https://www.gnu.org/licenses/>.

# IDE0073: Require file header
dotnet_diagnostic.IDE0073.severity = warning
