[submodule "Data/jitendex-data"]
	path = Data/jitendex-data
	url = https://github.com/Jitendex/jitendex-data
[submodule "Data/edrdg-dictionary-archive"]
	path = Data/edrdg-dictionary-archive
	url = https://github.com/Jitendex/edrdg-dictionary-archive
[submodule "Data/kanjivg"]
	path = Data/kanjivg
	url = https://github.com/Jitendex/kanjivg
[submodule "Data/chise-ids"]
	path = Data/chise-ids
	url = https://github.com/Jitendex/CHISE-IDS
[submodule "Libraries/MinimalJsonDiff"]
	path = Libraries/MinimalJsonDiff
	url = https://github.com/Jitendex/MinimalJsonDiff
[submodule "Libraries/MinimalPatch"]
	path = Libraries/MinimalPatch
	url = https://github.com/Jitendex/MinimalPatch
[submodule "Libraries/JapaneseTextUtils"]
	path = Libraries/JapaneseTextUtils
	url = https://github.com/Jitendex/JapaneseTextUtils
[submodule "Libraries/YomitanDictionary"]
	path = Libraries/YomitanDictionary
	url = https://github.com/Jitendex/YomitanDictionary
